h1{
    color: blueviolet;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


p{
    color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70px;
}